<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="data:;base64," type="image/x-icon">
    <title>Request History</title>
    <style>
        table { width: 100%; border-collapse: collapse; }
        th, td { padding: 8px; border: 1px solid #ddd; text-align: left; }
        tr:nth-child(even) { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h1>Last requests</h1>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Host</th>
            <th>Method</th>
            <th>Path</th>
            <th>Client IP</th>
            <th>User Agent</th>
        </tr>
        {% for req in requests %}
        <tr>
            <td><a href="/requests/{{ req.req_id }}">{{ req.timestamp }}</a></td>
            <td>{{ req.headers.get('host', 'Неизвестный Host') }}</td>
            <td>{{ req.method }}</td>
            <td>{{ req.path }}</td>
            <td>{{ req.client.host }}</td>
            <td>{{ req.headers.get('user-agent', 'Неизвестный User-Agent') }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
